# based on https://github.com/github/gitignore/blob/master/Python.gitignore
*.py[cod]
*.log

# backup files
*~

# C extensions
*.so
img_fast.c

# Packages
*.egg
*.egg-info
dist
build
/install/windows/version.txt
/install/windows/bin
eggs
parts
var
sdist
develop-eggs
.installed.cfg

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
*.lprof
nosetests.xml

# Dev environment
odemis.sublime-project
odemis.sublime-workspace
/src/odemis/gui/test/test.png
.project
.pydevproject
.settings

#Translations
*.mo

#Rinze
launch_daemon
xrced
swap.sh
*.autosave
odemis.profile
magic.odm.yaml
*.idea

#HTML documentation files
doc/code/_build
doc/code/_gen

# This directory contains the database from fluorophores.org
# To fill it, run ./util/getfluodb.py
install/linux/usr/share/odemis/fluodb/
