# based on https://github.com/github/gitignore/blob/master/Python.gitignore
*.py[cod]
*.log

# backup files
*~

# C extensions
*.so
img_fast.c

# Packages
*.egg
*.egg-info
dist
build
/install/windows/version.txt
/install/windows/bin
eggs
parts
var
sdist
develop-eggs
.installed.cfg
/debian/odemis/
/debian/files

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
*.lprof
nosetests.xml
/src/odemis/acq/align/test/hfw_shift*.tiff
/src/odemis/acq/align/test/res_shift.tiff
/src/odemis/acq/align/test/twin_stage*.tiff
/src/odemis/acq/test/test*.tiff
/src/odemis/cli/test/test.tiff
/src/odemis/gui/test/test.ome.tiff
/src/odemis/gui/util/test/test.ome.tiff
/src/odemis/util/test/test.ome.tiff
/src/odemis/gui/test/test.png

# Dev environment
odemis.sublime-project
odemis.sublime-workspace
*.autosave
odemis.profile
magic.odm.yaml
*.idea
.project
.pydevproject
.settings

# Translations
*.mo

# documentation files
/doc/code/_build
/doc/code/_gen
/doc/develop/_build/
/doc/develop/SPARC*.pdf
/doc/develop/*-roles.pdf
/doc/develop/gui_cont.pdf
/doc/develop/stream_view_diag.pdf
/doc/develop/sys-arch.pdf

# This directory contains the database from fluorophores.org
# To fill it, run ./util/getfluodb.py
/install/linux/usr/share/odemis/fluodb/

# External drivers
/src/odemis/driver/hitachi.py
/src/odemis/driver/jeol.py
/src/odemis/driver/nikonc.py
/.mypy_cache/
