# Force the Omicron devices to get explicit names

# ???xX devices are connected via serial over USB but they only have the default FTDI IDs
# => add a symlink which _could_ be a Omicron device
SUBSYSTEMS=="usb", ATTRS{idProduct}=="6001", ATTRS{idVendor}=="0403", KERNEL=="ttyUSB[0-9]*", SYMLINK="ttyOXX%n", GROUP="odemis"

