[Desktop Entry]
Name=FirstStep
GenericName=Microscope actuator controller
Comment=Part of the Open Delmic Microscope Software suite
Keywords=Delmic;actuator;move
Exec=firststep
Terminal=true
Type=Application
#Icon=/usr/share/icons/hicolor/128x128/apps/odemis.png
Icon=odemis
Categories=Utility;
StartupWMClass=main.py
StartupNotify=true

