[Desktop Entry]
Name=Odemis Viewer
GenericName=Microscope image viewer
Comment=Open Delmic Microscope Software acquisition viewer
Keywords=Delmic;
Exec=odemis-gui --standalone --file %f
Terminal=false
Type=Application
Icon=odemis-viewer
Categories=Utility;
#StartupWMClass=main.py
StartupWMClass=Odemis-standalone
StartupNotify=true
MimeType=image/x-ome-tiff;image/tiff;application/x-hdf;
