[Desktop Entry]
Name=Odemis
GenericName=Microscope software
Comment=Open Delmic Microscope Software
Keywords=Delmic;
Exec=odemis-start
Terminal=true
Type=Application
#Icon=/usr/share/icons/hicolor/128x128/apps/odemis.png
Icon=odemis
Categories=Utility;
#StartupWMClass=main.py
StartupWMClass=Odemis
StartupNotify=true

Actions=Stop

[Desktop Action Stop]
Name=Full stop
Exec=odemis-stop
OnlyShowIn=Unity;
