[Desktop Entry]
Name=Odemis
GenericName=Microscope software
Comment=Open Delmic Microscope Software
Keywords=Delmic;
Exec=odemis-start
#Terminal=true
Type=Application
Icon=odemis
Categories=Science;
StartupWMClass=Odemis
StartupNotify=true

Actions=Stop;HwStatus;Bug;Channel

[Desktop Action Stop]
Name=Full stop
Exec=sudo /usr/bin/odemis-stop

[Desktop Action HwStatus]
Name=Show hardware status
Exec=odemis-hw-status

[Desktop Action Bug]
Name=Report a problem
Exec=odemis-bug-report

[Desktop Action Channel]
Name=Select Odemis update channel
Exec=odemis-select-channel
