[Desktop Entry]
Name=Edit odemis.conf
Comment=Edit main Odemis configuration file as root
Keywords=odemis.conf
Exec=odemis-sudo-gedit /etc/odemis.conf
Type=Application
StartupNotify=true
Icon=accessories-text-editor
