[Desktop Entry]
Name=Odemis
GenericName=Microscope software
Comment=Open Delmic Microscope Software
Keywords=Delmic;
Exec=odemis-start
#Terminal=true
Type=Application
#Icon=/usr/share/icons/hicolor/128x128/apps/odemis.png
Icon=odemis
Categories=Utility;
#StartupWMClass=main.py
StartupWMClass=Odemis
StartupNotify=true

Actions=Stop;HwStatus;Bug;

[Desktop Action Stop]
Name=Full stop
Exec=sudo /usr/bin/odemis-stop

[Desktop Action HwStatus]
Name=Show hardware status
Exec=odemis-hw-status

[Desktop Action Bug]
Name=Report a problem
Exec=odemis-bug-report
