# Force the devices connected via a serial-over-USB FTDI to get explicit names
# Many devices use this hardware, and quite a few don't bother changing the 
# vendor/product IDs. It's convenient because the standard driver works out of
# the box, but then we have no idea what is what when many hardwares are
# connected.

# They have different serial number, so it could be possible to either have
# a persistent rule, or have our small lookup table of serial -> device type 

# All we can do is to at least separate them from the other serial-over-USB hw.
# Currently, the following hardware devices are known to provide these IDs:
# * Lumencor Light Engine
# * Omicron xX  (Manufacturer = "Omicron")
# * Thorlabs filter wheel
# * Cobolt DPSS

# => add a symlink ttyFTDIxx with the same number as the ttyUSBxx file
SUBSYSTEMS=="usb", ATTRS{idProduct}=="6001", ATTRS{idVendor}=="0403", KERNEL=="ttyUSB[0-9]*", SYMLINK="ttyFTDI%n", GROUP="odemis"

# The Thorlabs APT devices have their own product ID.
# For these devices, no need to create special links, as they are detected via 
# serial numbers. However, we just need to ensure they are accessible to the 
# odemis group.
SUBSYSTEMS=="usb", ATTRS{idProduct}=="faf0", ATTRS{idVendor}=="0403", KERNEL=="ttyUSB[0-9]*", GROUP="odemis"

