# Force the Physik Instrumente devices connected via serial connection to 
# specific names, to ease detection
# Note: it's going to fail if two devices are plugged in! To avoid this, we would need to either use a small script like write_cd_rules
# (relying on find_next_available), or just use %n (and the numbers will not be continuous)
# Note: it seems the USB device has a "serial" attribute which is different for each device

# as found in the E-861
SUBSYSTEMS=="usb", ATTRS{idProduct}=="1008", ATTRS{idVendor}=="1a72", KERNEL=="ttyUSB[0-9]*", SYMLINK="ttyPIGCS", GROUP="odemis"

# We got one E-861, which had the generic FTDI IDs, but don't use by default as many hardware report these IDs
#SUBSYSTEMS=="usb", ATTRS{idProduct}=="6001", ATTRS{idVendor}=="0403", KERNEL=="ttyUSB[0-9]*", SYMLINK="ttyPIGCS", GROUP="odemis"

# as found in the C-867.160
SUBSYSTEMS=="usb", ATTRS{idProduct}=="1009", ATTRS{idVendor}=="1a72", KERNEL=="ttyUSB[0-9]*", SYMLINK="ttyPIGCS", GROUP="odemis"

# off the shelf USB-serial port used for the PIGCS in AMOLF
SUBSYSTEMS=="usb", ATTRS{idProduct}=="0121", ATTRS{idVendor}=="06cd", KERNEL=="ttyUSB[0-9]*", SYMLINK="ttyPIGCS", GROUP="odemis"

# just an off the shelf USB-serial port used for the Redstone
#SUBSYSTEMS=="usb", ATTRS{idProduct}=="2303", ATTRS{idVendor}=="067b", KERNEL=="ttyUSB[0-9]*", SYMLINK="ttyPIRS", GROUP="odemis"

# off the shelf USB-serial CDC port used for the PI Master controller
# Not used normally, but useful for reconfiguration
SUBSYSTEMS=="usb", ATTRS{idProduct}=="a4a7", ATTRS{idVendor}=="0525", KERNEL=="ttyUSB[0-9]*", SYMLINK="ttyPIM%n", GROUP="odemis"

