# Force the Physik Instrumente devices connected via serial connection to 
# specific names, to ease detection
# Note: it's going to fail if two devices are plugged in! To avoid this, we would need to either use a small script like write_cd_rules
# (relying on find_next_available), or just use %n (and the numbers will not be continuous)
# Note: it seems the USB device has a "serial" attribute which is different for each device

# E-725 (unknown USB-serial chipset, not currently working)
# SUBSYSTEMS=="usb", ATTRS{idVendor}=="1a72", ATTRS{idProduct}=="1003", GROUP="odemis"

# E-709
SUBSYSTEMS=="usb", ATTRS{idVendor}=="1a72", ATTRS{idProduct}=="100e", KERNEL=="ttyUSB[0-9]*", SYMLINK="ttyPIGCS", GROUP="odemis"

# E-861
SUBSYSTEMS=="usb", ATTRS{idVendor}=="1a72", ATTRS{idProduct}=="1008", KERNEL=="ttyUSB[0-9]*", SYMLINK="ttyPIGCS", GROUP="odemis"

# We got one E-861, which had the generic FTDI IDs, but don't use by default as many hardware report these IDs
#SUBSYSTEMS=="usb", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6001", KERNEL=="ttyUSB[0-9]*", SYMLINK="ttyPIGCS", GROUP="odemis"

# The E-861s in AMOLF are old versions and seem to use other generic USB-serial controller
SUBSYSTEMS=="usb", ATTRS{idVendor}=="06cd", ATTRS{idProduct}=="0121", KERNEL=="ttyUSB[0-9]*", SYMLINK="ttyPIGCS", GROUP="odemis"

# C-867.160
SUBSYSTEMS=="usb", ATTRS{idVendor}=="1a72", ATTRS{idProduct}=="1009", KERNEL=="ttyUSB[0-9]*", SYMLINK="ttyPIGCS", GROUP="odemis"

# just an off the shelf USB-serial port used for the Redstone
#SUBSYSTEMS=="usb", ATTRS{idVendor}=="067b", ATTRS{idProduct}=="2303", KERNEL=="ttyUSB[0-9]*", SYMLINK="ttyPIRS", GROUP="odemis"

# off the shelf USB-serial CDC port used for the PI Master controller E-863
# Not used normally, but useful for reconfiguration
SUBSYSTEMS=="usb", ATTRS{idVendor}=="0525", ATTRS{idProduct}=="a4a7", KERNEL=="ttyUSB[0-9]*", SYMLINK="ttyPIM%n", GROUP="odemis"

