# Force the PMT Control devices to get explicit names

# PMT Control devices are connected via serial over USB
# => add a symlink which _could_ be a PMT Control device
SUBSYSTEMS=="usb", ATTRS{idProduct}=="0002", ATTRS{idVendor}=="1cbe", KERNEL=="ttyACM[0-9]*", SYMLINK="ttyPMT%n", GROUP="odemis"

# If a reset of the power relay is needed, add this line (without the #) to a
# new file named /etc/udev/rules.d/80-pmtctrl-relay-reset.rules
# SUBSYSTEMS=="usb", ATTRS{idProduct}=="0002", ATTRS{idVendor}=="1cbe", KERNEL=="ttyACM[0-9]*", RUN+="/usr/bin/odemis-relay %k"

