Source: odemis
Section: science
Priority: optional
Maintainer: Éric Piel <piel@delmic.com>
Standards-Version: 4.1.4
Build-Depends: debhelper (>= 11),
               dh-python,
               texlive-latex-base,
               texlive-latex-extra,
               texlive-fonts-recommended,
               tex-gyre,
               latexmk,
               inkscape,
               cython3,
               python3-setuptools,
               python3-sphinx (>= 1.8.5),
               python3-numpy,
               python3-all-dev (>= 3.6.1)
X-Python3-Version: >= 3.6
Homepage: http://www.delmic.com
Vcs-Git: git://github.com/delmic/odemis.git
Vcs-Browser: https://github.com/delmic/odemis

Package: odemis
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
         ${python3:Depends},
         ${sphinxdoc:Depends},
         odemis-doc,
         cgroup-tools,
# just to take screenshots during bug report
         graphicsmagick,
# currently authbind is only needed for the auto probing of nfpm driver
         authbind,
         python3,
         python3-wxgtk4.0,
         python3-pkg-resources,
         python3-decorator,
         python3-yaml,
         python3-serial,
         python3-canopen,
         python3-pymodbus,
         python3-netifaces,
         python3-pil,
# python-evdev is just to support the Powermate in the GUI
         python3-evdev,
         python3-cairo,
         python3-numpy (>= 1.11.0),
         python3-scipy (>= 1.2.0),
         python3-libtiff (>= 0.4.2),
         python3-h5py (>= 2.1),
         python3-xdg,
# suds is only needed for phenom driver
         python3-suds,
         python3-matplotlib,
         python3-opencv (>= 3.2),
         python3-notify2,
# psutil is not required, if not present, less debug information will be available
         python3-psutil,
# comedi is only needed for semcomedi driver and pwrcomedi
         python3-comedilib (>= 0.10.0),
# blinkstick is only needed for blinkstick driver
         python3-blinkstick,
         python3-zmq (>= 2.1),
         python3-pyro4-delmic,
# On Linux, uses GObject Interaction to map the GUI to the desktop launcher. It will run if it's not present.
         python3-gi,
         python3-requests,
# Needed for xtadapter update notification feature
         notification-daemon,
         python3-ftdi1,
# Needed for the Diligent MCC DAQ board driver
         python3-hid,
         python3-libusb1,
# Needed for acq.fastem
         python3-shapely,
Suggests: imagej
Description: Open Delmic Microscope Software
 Odemis is the acquisition software for the Delmic microscopes. In particular,
 it supports the SECOM, SPARC, and METEOR systems. Odemis provides a simple graphical
 interface to manipulate the microscope settings and acquire an image. It
 also provides a command line interface and Python bindings for advanced 
 usage.
