Source: odemis
Section: science
Priority: optional
Maintainer: Éric Piel <piel@delmic.com>
Standards-Version: 3.9.2
Build-Depends: debhelper (>= 9),
               python-setuptools,
               python-sphinx (>= 1.1.3),
               texlive-full,
               inkscape,
               cython,
               python-numpy,
               python-all-dev (>= 2.7.1)
X-Python-Version: >= 2.7
Homepage: http://www.delmic.com
Vcs-Git: git://github.com/delmic/odemis.git
Vcs-Browser: https://github.com/delmic/odemis

Package: odemis
Architecture: any
Depends: python (>= 2.7.1),
         python-wxgtk3.0,
         python-pkg-resources,
         python-yaml,
         python-serial,
         python-netifaces,
         python-imaging,
         python-cairo,
         python-zmq (>= 2.1),
         python-numpy,
         python-concurrent.futures,
         python-scipy,
         python-decorator,
         python-libtiff,
         python-comedilib (>= 0.10.0),
         python-h5py (>= 2.1),
         python-xdg,
         python-suds,
         python-matplotlib,
         python-opencv (>= 2.4),
         python-notify,
         python-blinkstick,
         authbind,
         python-pyro4-delmic,
         cgroup-bin,
         odemis-doc,
         graphicsmagick, # just to take screenshots during bug report
         ${shlibs:Depends},
         ${misc:Depends},
         ${python:Depends},
         ${sphinxdoc:Depends}
Suggests: imagej
Description: Open Delmic Microscope Software
 Odemis is the acquisition software for the Delmic microscopes. In particular,
 it supports the SECOM, DELPHI, and SPARC systems. Odemis provides a simple graphical
 interface to manipulate the microscope settings and acquire an image. It
 also provides a command line interface and Python bindings for advanced 
 usage.
