[SEM]
accelVoltage = 3000
beamCurrent = 20e-12
dwellTime = 1e-6
horizontalFoV=150e-6
resolution=[1536,1024]
scan_rotation = 0
detector_type = SecondaryElectrons
detector_mode = ETD

[FIB]
accelVoltage = 30000
beamCurrent = 20e-12
dwellTime = 1e-6
horizontalFoV=150e-6
resolution=[1536,1024]
scan_rotation = 0
plasma_gas = Xenon
detector_type = SecondaryElectrons
detector_mode = ETD