name: Build Debian Package

on:
  push:
    branches: [ master ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        ubuntu_version: [20.04, 22.04, 24.04]

    container:
      image: ubuntu:${{ matrix.ubuntu_version }}

    steps:
    - name: Checkout source
      uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: Set noninteractive frontend
      run: echo 'debconf debconf/frontend select Noninteractive' | debconf-set-selections

    - name: Cache APT packages
      uses: actions/cache@v4
      with:
        path: /var/cache/apt/archives
        key: apt-cache-${{ runner.os }}-${{ matrix.ubuntu_version }}

    - name: Install build dependencies
      run: |
        apt-get update
        apt-get install -y devscripts equivs
        mk-build-deps -i -r -t "apt-get -y --no-install-recommends" debian/control

    - name: Build Debian package
      run: |
        dpkg-buildpackage -us -uc -b

    - name: Upload HTML documentation
      uses: actions/upload-artifact@v4
      with:
        name: docs-html-${{ matrix.ubuntu_version }}
        path: build/doc/develop/develop-html/

    - name: Upload PDF documentation
      uses: actions/upload-artifact@v4
      with:
        name: docs-pdf-${{ matrix.ubuntu_version }}
        path: build/doc/develop/latex/odemis-develop.pdf
